body {
  margin: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
}

h1 {
  margin: 0;
  padding-top: 100px;
  color: #a6e3e9;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #a6e3e9;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.data {
  text-decoration: underline;
}

.top-container {
  background-color: #e3fdfd;
  position: relative;
}

.top-container hr {
}

.middle-container img {
  width: 15%;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  left: 70%;
  top: 35px;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 250px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-row img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}
